In [25]:
import argparse
from datetime import datetime
import json
import numpy as np
import operator
import os
import pandas as pd
from tqdm import tqdm

In [50]:
data_path_eod = 'D:\\data\\qt\\data\\google_finance\\'
data_path_rr = 'D:\\data\\qt\\data\\rr8_volumn\\'
data_path_attn = 'D:\\data\\qt\\data\\attention_data\\'
hpg = np.load('hg_test.npy')
market = 'NASDAQ_'
date_format = '%Y-%m-%d %H:%M:%S'
tickers = r'D:\data\qt\data\NASDAQ_tickers_qualify_dr-0.98_min-5_smooth.csv'
tickers = np.genfromtxt(tickers, dtype=str, delimiter='\t', skip_header=False)
begin_time = datetime.strptime('2012-11-19 00:00:00', date_format)
col = ['rr', 'rr5', 'rr10', 'rr20', 'rr30', 'volumn', 'rr-1', 'rr-5', 'rr-30']

In [64]:
attention_weight = np.zeros((1244, hpg.shape[1]))
for row in tqdm(range(attention_weight.shape[0])):
    for i in range(2518):
        hyper_index = np.where(hpg[1] == i)
        tickers_rel = tickers[hpg[0][hyper_index]]
        weight_list = []
        for ticker in tickers_rel:
            data_weight_path = pd.read_csv(data_path_attn + market + ticker + '.csv', index_col=0)
            amount = data_weight_path['hyper_weight'][row]
            weight_list.append(amount) if amount > -1000 else weight_list.append(0)
        hyper_attn = np.array(weight_list) / sum(weight_list) if sum(weight_list) > 1 else np.array(weight_list)
        attention_weight[row, hyper_index[0][0]:hyper_index[0][0] + len(hyper_index[0])] = hyper_attn
np.save('attention_weight.npy', attention_weight)

  0%|                                                                                         | 0/1244 [00:00<?, ?it/s]C:\Users\kikyo\AppData\Local\Temp\ipykernel_11832\255674408.py:11: RuntimeWarning: invalid value encountered in divide
  hyper_attn = np.array(weight_list) / sum(weight_list)
C:\Users\kikyo\AppData\Local\Temp\ipykernel_11832\255674408.py:11: RuntimeWarning: invalid value encountered in divide
  hyper_attn = np.array(weight_list) / sum(weight_list)
C:\Users\kikyo\AppData\Local\Temp\ipykernel_11832\255674408.py:11: RuntimeWarning: invalid value encountered in divide
  hyper_attn = np.array(weight_list) / sum(weight_list)
C:\Users\kikyo\AppData\Local\Temp\ipykernel_11832\255674408.py:11: RuntimeWarning: invalid value encountered in divide
  hyper_attn = np.array(weight_list) / sum(weight_list)
C:\Users\kikyo\AppData\Local\Temp\ipykernel_11832\255674408.py:11: RuntimeWarning: invalid value encountered in divide
  hyper_attn = np.array(weight_list) / sum(weight_list)
C:\Users\kikyo\AppData\Local\Temp\ipykernel_11832\255674408.py:11: RuntimeWarning: invalid value encountered in divide
  hyper_attn = np.array(weight_list) / sum(weight_list)
C:\Users\kikyo\AppData\Local\Temp\ipykernel_11832\255674408.py:11: RuntimeWarning: invalid value encountered in divide
  hyper_attn = np.array(weight_list) / sum(weight_list)
C:\Users\kikyo\AppData\Local\Temp\ipykernel_11832\255674408.py:11: RuntimeWarning: invalid value encountered in divide
  hyper_attn = np.array(weight_list) / sum(weight_list)
  0%|                                                                             | 1/1244 [02:46<57:26:32, 166.37s/it]

KeyboardInterrupt:

In [69]:
1244 / 12

103.66666666666667

In [48]:
for index, ticker in enumerate(tqdm(tickers)):
    if index < 470:
        continue
    single_EOD0 = np.genfromtxt(os.path.join(data_path_eod, market + ticker + '_30Y.csv'), dtype=str, delimiter=',', skip_header=True)
    single_data = []
    for day in range(len(single_EOD0)):
        day_time = datetime.strptime(single_EOD0[day][0].split(' ')[0] + ' 00:00:00', date_format)
        if day_time >= begin_time and day + 30 < len(single_EOD0):
            data_dict = {}
            single_EOD = single_EOD0[:, 1:].astype(np.float64)
            days_weight = single_EOD[day][0] * single_EOD[day][4]
            data_dict['hyper_weight'] = days_weight if days_weight != 0 else -1234
            single_data.append(data_dict)
    single_data = pd.DataFrame(single_data)
    if len(single_data) < 1244:
        row = np.full((1244 - single_data.shape[0], 1), -1234)
        index = range(single_data.shape[0], 1244)
        pd_1234 = pd.DataFrame(row, index=index, columns=['hyper_weight'])
        single_data = pd.concat([single_data, pd_1234])
    elif len(single_data) > 1244:
        single_data = single_data.drop(index=range(1244, single_data.shape[0]))
    single_data.to_csv('D:\\data\\qt\\data\\attention_data\\'+ market + ticker + '.csv')

100%|████████████████████████████████████████████████████████████████████████████| 1026/1026 [1:22:12<00:00,  4.81s/it]

In [ ]:
for file in file_path:
    s_eod = pd.read_csv(file, index_col=0)
    if s_eod.shape[0] < 1244:
        row = np.full((1244 - s_eod.shape[0], 9), -1234)
        index = range(s_eod.shape[0], 1244)
        pd_1234 = pd.DataFrame(row, index=index, columns=col)
        full_eod = pd.concat([s_eod, pd_1234])
#         full_eod.to_csv(file)
        print(file)

In [64]:
full_eod.to_csv(r'D:\data\qt\data\test.csv')

In [54]:
col = ['rr', 'rr5', 'rr10', 'rr20', 'rr30', 'volumn', 'rr-1', 'rr-5', 'rr-30']
row = np.full((3, 9), -1234)
index = range(row.shape[0])
test1234 = pd.DataFrame(row, index=index, columns=col)

In [56]:
pd.concat([test, test1234])

,rr,rr5,rr10,rr20,rr30,rr-1,rr-5,rr-30,volumn
0,0.063820,0.475439,0.035763,0.251659,0.909119,0.258068,0.125009,0.683598,0.090168
1,-0.205130,-0.096147,-0.003546,-0.202634,1.838118,0.339124,-0.134784,1.099996,0.065511
2,-0.253243,-0.461994,-0.195607,-0.393391,0.668658,1.538803,-0.281499,-0.179348,0.021441
3,-0.606114,-0.783652,-0.620508,-0.892215,-0.453262,-0.773380,-0.679557,-0.544374,0.119177
4,3.412679,0.097531,0.428424,0.355220,1.339971,0.160659,0.149851,0.571952,0.101684
...,...,...,...,...,...,...,...,...,...
1242,0.240959,-0.151299,0.070288,-0.375729,-0.577115,-0.083889,-0.539583,-0.357674,0.011242
1243,0.091571,0.162953,0.208299,-0.311513,-0.566688,-0.347080,-0.505967,-0.292521,0.021044
0,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000
1,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000
2,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000,-1234.000000

In [3]:
# generate rr data
for index, ticker in enumerate(tqdm(tickers)):
    single_EOD0 = np.genfromtxt(os.path.join(data_path, market + '_' + ticker + '_30Y.csv'), dtype=str, delimiter=',', skip_header=True)
    for day in range(len(single_EOD0)):
        day_time = datetime.strptime(single_EOD0[day][0].split(' ')[0] + ' 00:00:00', date_format)
        if day_time >= begin_time:
            volumn_data = single_EOD0[day:, -1].astype(np.float64)
            min_volumn = np.min(volumn_data)
            max_volumn = np.max(volumn_data)
            break
    day_index = 0
    single_data = []
    for day in range(len(single_EOD0)):
        day_time = datetime.strptime(single_EOD0[day][0].split(' ')[0] + ' 00:00:00', date_format)
        if day_time >= begin_time and day + 30 < len(single_EOD0):
            data_dict = {}
            single_EOD = single_EOD0[:, 1:].astype(np.float64)
            days_closeP = [single_EOD[day][4], single_EOD[day - 1][4], single_EOD[day - 5][4], 
                         single_EOD[day - 10][4], single_EOD[day - 20][4], single_EOD[day - 30][4], 
                         single_EOD[day + 1][4], single_EOD[day + 5][4], single_EOD[day + 30][4], 
                         single_EOD[day + 1][-1]]
            data_dict['rr'] = (days_closeP[0] - days_closeP[1]) / days_closeP[1] if days_closeP[1] != 0 else -1234
            data_dict['rr5'] = (days_closeP[0] - days_closeP[2]) / days_closeP[2] if days_closeP[2] != 0 else -1234
            data_dict['rr10'] = (days_closeP[0] - days_closeP[3]) / days_closeP[3] if days_closeP[3] != 0 else -1234
            data_dict['rr20'] = (days_closeP[0] - days_closeP[4]) / days_closeP[4] if days_closeP[4] != 0 else -1234
            data_dict['rr30'] = (days_closeP[0] - days_closeP[5]) / days_closeP[5] if days_closeP[5] != 0 else -1234
            data_dict['rr-1'] = (days_closeP[0] - days_closeP[6]) / days_closeP[6] if days_closeP[6] != 0 else -1234
            data_dict['rr-5'] = (days_closeP[0] - days_closeP[7]) / days_closeP[7] if days_closeP[7] != 0 else -1234
            data_dict['rr-30'] = (days_closeP[0] - days_closeP[8]) / days_closeP[8] if days_closeP[8] != 0 else -1234
            data_dict['volumn'] = (days_closeP[9] - min_volumn) / max_volumn if days_closeP[9] != 0 else -1234
            single_data.append(data_dict)
    single_data = pd.DataFrame(single_data)
    single_data.to_csv('D:\\data\\qt\\data\\attention_data\\'+ market + '_' + ticker + '.csv')

100%|████████████████████████████████████████████████████████████████████████████| 1026/1026 [2:35:35<00:00,  9.10s/it]

In [86]:
single_data

,rr,rr5,rr10,rr20,rr30,rr-1,rr-5,rr-30,vulumn
0,0.063820,0.475439,0.035763,0.251659,0.909119,0.258068,0.125009,0.683598,0.090168
1,-0.205130,-0.096147,-0.003546,-0.202634,1.838118,0.339124,-0.134784,1.099996,0.065511
2,-0.253243,-0.461994,-0.195607,-0.393391,0.668658,1.538803,-0.281499,-0.179348,0.021441
3,-0.606114,-0.783652,-0.620508,-0.892215,-0.453262,-0.773380,-0.679557,-0.544374,0.119177
4,3.412679,0.097531,0.428424,0.355220,1.339971,0.160659,0.149851,0.571952,0.101684
...,...,...,...,...,...,...,...,...,...
1239,0.673840,1.114630,2.687064,-0.161187,1.167601,0.805815,-0.060251,-0.539743,0.007499
1240,-0.446233,-0.124708,0.432432,-0.780065,-0.275456,0.079662,-0.490103,-0.669055,0.006415
1241,-0.073785,-0.140083,-0.355444,-0.448933,-0.450399,-0.194172,-0.656663,-0.685144,0.009695
1242,0.240959,-0.151299,0.070288,-0.375729,-0.577115,-0.083889,-0.539583,-0.357674,0.011242
1243,0.091571,0.162953,0.208299,-0.311513,-0.566688,-0.347080,-0.505967,-0.292521,0.021044

In [34]:
single_EOD[0][0].split(' ') + '00:00:00'

TypeError: can only concatenate list (not "str") to list

In [38]:
datetime.strptime(single_EOD[0][0].split(' ')[0] + ' 00:00:00', date_format)

datetime.datetime(1996, 4, 12, 0, 0)

In [39]:
len(single_EOD)

5453